.podcasts-card-container {
  padding: 16px;

  &-card {
    align-items: center;
    padding-top: 16px;
    border: 1px solid #3333;
    text-align: center;
    border-radius: 10px;

    &__img {
      width: 100px;
      height: auto;
      border-radius: 50%;
    }
  }
}